@font-face {
    font-family: 'HTWBerlin';
    src: url('./fonts/HTWBerlinOffice.ttf');
}
@font-face {
    font-family: 'HTWBerlin';
    src: url('./fonts/HTWBerlinOfficeB.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'HTWBerlin';
    src: url('./fonts/HTWBerlinOfficeBI.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'HTWBerlin';
    src: url('./fonts/HTWBerlinOfficeI.ttf');
    font-style: italic;
}

body {
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

    background-color: rgb(83, 131, 0);
    padding: 20px;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

h1, h2, h5, p, ul, li {
    font-family: 'HTWBerlin';
}
ul.header li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    border-bottom-style: solid;
    border-color: rgb(118, 185, 0);
}
ul.header {
    background-color: #0000;
    padding: 0;
}
ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    background-color: #0000;
}
.content {
    background-color: #FFF;
    padding: 20px;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}

#error {
  background-color: rgba(255, 0, 0, 0.5);
}

#loading-spinner {
  background-color: rgba(255, 255, 255, 0.5);
  width:100%;
  height:100%;
  z-index:10;
  top:0;
  left:0;
  position:fixed;
}


.center-circle {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
}
